In [9]:
import numpy as np
import pandas as pd

In [10]:
def load_userinfo(filepath):
    df = pd.read_csv(filepath)
    df.drop(df.columns[[0, 3]], axis=1, inplace=True)
    df.columns = ['user_id', 'timezone', 'sex', 'age', 'height']
    print(df)


load_userinfo(
    "../materiale_activity_trackers/dataset_activity_trackers/userinfo.csv")

                                        user_id timezone     sex  age  height
0      fe5d7aacd82682e68d94ea1e6aa33a1e858337f7      PDT  Female   39     175
1      88359b8e24f4d6b758fb4566860ba9842fc5b350      UTC    Male   26     179
2      e061ccf5eece921027f618686a5aa2412d753b6b      PDT  Female   27     169
3      2e88aac4e69049d0845a5e2dce661ae8f4f55239      UTC    Male   61     177
4      b4e87340761e4c917db734cd52f56ed9abd0b314      UTC    Male   48     167
...                                         ...      ...     ...  ...     ...
11608  9301626287129295bfbb3b23b353d8a325467bfb      UTC    Male   47     177
11609  265cceeb7baab0a461708ef7e79f861f9e10c9c4      PDT    Male   61     192
11610  f8304a01c96e8d2ca656aa501c3c211615a467a2      UTC    Male   42     186
11611  bb00f217ebdabe0527c4a72f1fa43efd8e0f3073      PDT  Female   23     151
11612  a8c6c2b373f1929ff0a40f48a385d1594d62154a      PDT  Female   25     169

[11613 rows x 5 columns]

In [8]:
def load_data(filepath):
    df = pd.read_csv(filepath)
    df.drop(df.columns[[0]], axis=1, inplace=True)
    df.columns = ['user_id', 'date', 'type_data', 'value']
    return df
    # print(df)
# type_data varia nel range 1-27 (vedere foto) (sono le feature del dataset)


load_data(
    "../materiale_activity_trackers/dataset_activity_trackers/data.csv")

,user_id,date,type_data,value
0,2bc16eda651db5936cd31e735c815296fc1579d9,2016-04-01,2,86.80
1,2bc16eda651db5936cd31e735c815296fc1579d9,2016-04-01,3,28.96
2,2bc16eda651db5936cd31e735c815296fc1579d9,2016-04-01,7,117.62
3,2bc16eda651db5936cd31e735c815296fc1579d9,2016-04-01,8,117.86
4,2bc16eda651db5936cd31e735c815296fc1579d9,2016-04-01,9,117.11
...,...,...,...,...
19889067,cb8ba5956b7b6655ba2d6e0d4e77f0e0c900b083,2017-03-31,14,0.33
19889068,cb8ba5956b7b6655ba2d6e0d4e77f0e0c900b083,2017-03-31,15,0.08
19889069,cb8ba5956b7b6655ba2d6e0d4e77f0e0c900b083,2017-03-31,16,0.00
19889070,cb8ba5956b7b6655ba2d6e0d4e77f0e0c900b083,2017-03-31,17,2.69
19889071,cb8ba5956b7b6655ba2d6e0d4e77f0e0c900b083,2017-03-31,19,3.34

In [31]:
# split dataset nelle 27 features
num_features = 27
feature_names = [None,"steps", "weight", "BMI", "systolic blood presure", "pulse wave velocity", "pww healtiness", 
                        "heart rate avg", "heart rate min", "heart rate max", "sleep duration", "bedin"
                        ,"bedout", "nbawake", "awakeduration", "timetosleep", "timetowakeup", "lightduration",
                        "remduration", "deepduration", "activitytype", "activityduration", "activitycalories",
                        "activityhrAVG", "activityhrMIN", "activityhrMAX", "stepsgaitspeed", "distancegaitspeed"]

print(len(feature_names))

df_array = []
df = load_data("../materiale_activity_trackers/dataset_activity_trackers/data.csv")

for i in range(1,num_features+1):
    df_mask = df['type_data'] == i # selezione sulla base del type_data==1(steps)
    df_feature_i = df[df_mask]
    df_feature_i.drop(df.columns[[2]], axis=1, inplace=True)
    df_feature_i.columns=["user_id","date", feature_names[i]]
    df_array.append(df_feature_i)

df_array[1].head()

28

C:\Users\stefa\AppData\Local\Temp\ipykernel_10384\3563301779.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_feature_i.drop(df.columns[[2]], axis=1, inplace=True)
C:\Users\stefa\AppData\Local\Temp\ipykernel_10384\3563301779.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_feature_i.drop(df.columns[[2]], axis=1, inplace=True)
C:\Users\stefa\AppData\Local\Temp\ipykernel_10384\3563301779.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_feature_i.drop(df.columns[[2]], axis=1, inplace=True)
C:\Users\stefa\AppData\Local\Temp\ipykernel_10384\3563301779.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_feature_i.drop(df.columns[[2]], axis=1, inplace=True)
C:\Users\stefa\AppData\Local\Temp\ipykernel_10384\3563301779.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_feature_i.drop(df.columns[[2]], axis=1, inplace=True)
C:\Users\stefa\AppData\Local\Temp\ipykernel_10384\3563301779.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_feature_i.drop(df.columns[[2]], axis=1, inplace=True)
C:\Users\stefa\AppData\Local\Temp\ipykernel_10384\3563301779.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_feature_i.drop(df.columns[[2]], axis=1, inplace=True)
C:\Users\stefa\AppData\Local\Temp\ipykernel_10384\3563301779.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_feature_i.drop(df.columns[[2]], axis=1, inplace=True)
C:\Users\stefa\AppData\Local\Temp\ipykernel_10384\3563301779.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_feature_i.drop(df.columns[[2]], axis=1, inplace=True)
C:\Users\stefa\AppData\Local\Temp\ipykernel_10384\3563301779.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_feature_i.drop(df.columns[[2]], axis=1, inplace=True)
C:\Users\stefa\AppData\Local\Temp\ipykernel_10384\3563301779.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_feature_i.drop(df.columns[[2]], axis=1, inplace=True)
C:\Users\stefa\AppData\Local\Temp\ipykernel_10384\3563301779.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_feature_i.drop(df.columns[[2]], axis=1, inplace=True)
C:\Users\stefa\AppData\Local\Temp\ipykernel_10384\3563301779.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_feature_i.drop(df.columns[[2]], axis=1, inplace=True)
C:\Users\stefa\AppData\Local\Temp\ipykernel_10384\3563301779.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_feature_i.drop(df.columns[[2]], axis=1, inplace=True)
C:\Users\stefa\AppData\Local\Temp\ipykernel_10384\3563301779.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_feature_i.drop(df.columns[[2]], axis=1, inplace=True)
C:\Users\stefa\AppData\Local\Temp\ipykernel_10384\3563301779.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_feature_i.drop(df.columns[[2]], axis=1, inplace=True)
C:\Users\stefa\AppData\Local\Temp\ipykernel_10384\3563301779.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_feature_i.drop(df.columns[[2]], axis=1, inplace=True)
C:\Users\stefa\AppData\Local\Temp\ipykernel_10384\3563301779.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_feature_i.drop(df.columns[[2]], axis=1, inplace=True)
C:\Users\stefa\AppData\Local\Temp\ipykernel_10384\3563301779.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_feature_i.drop(df.columns[[2]], axis=1, inplace=True)
C:\Users\stefa\AppData\Local\Temp\ipykernel_10384\3563301779.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_feature_i.drop(df.columns[[2]], axis=1, inplace=True)
C:\Users\stefa\AppData\Local\Temp\ipykernel_10384\3563301779.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_feature_i.drop(df.columns[[2]], axis=1, inplace=True)
C:\Users\stefa\AppData\Local\Temp\ipykernel_10384\3563301779.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_feature_i.drop(df.columns[[2]], axis=1, inplace=True)
C:\Users\stefa\AppData\Local\Temp\ipykernel_10384\3563301779.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_feature_i.drop(df.columns[[2]], axis=1, inplace=True)
C:\Users\stefa\AppData\Local\Temp\ipykernel_10384\3563301779.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_feature_i.drop(df.columns[[2]], axis=1, inplace=True)
C:\Users\stefa\AppData\Local\Temp\ipykernel_10384\3563301779.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_feature_i.drop(df.columns[[2]], axis=1, inplace=True)
C:\Users\stefa\AppData\Local\Temp\ipykernel_10384\3563301779.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_feature_i.drop(df.columns[[2]], axis=1, inplace=True)
C:\Users\stefa\AppData\Local\Temp\ipykernel_10384\3563301779.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_feature_i.drop(df.columns[[2]], axis=1, inplace=True)

                                     user_id        date  weight
0   2bc16eda651db5936cd31e735c815296fc1579d9  2016-04-01   86.80
17  2bc16eda651db5936cd31e735c815296fc1579d9  2016-04-02   86.81
34  2bc16eda651db5936cd31e735c815296fc1579d9  2016-04-03   86.79
49  2bc16eda651db5936cd31e735c815296fc1579d9  2016-04-04   87.71
57  2bc16eda651db5936cd31e735c815296fc1579d9  2016-04-05   86.78

In [59]:
df_final = df_array[0]
for i in range(1,num_features):
    df_final = df_final.merge(df_array[i], on=["user_id","date"],how="outer",copy=False)

In [60]:
df_final[0:25]

,user_id,date,steps,weight,BMI,systolic blood presure,pulse wave velocity,pww healtiness,heart rate avg,heart rate min,...,remduration,deepduration,activitytype,activityduration,activitycalories,activityhrAVG,activityhrMIN,activityhrMAX,stepsgaitspeed,distancegaitspeed
0,2bc16eda651db5936cd31e735c815296fc1579d9,2016-04-02,2547.55,86.81,28.83,NaN,NaN,NaN,71.17,63.22,...,NaN,3.24,NaN,NaN,NaN,NaN,NaN,NaN,116.59,5.79
1,2bc16eda651db5936cd31e735c815296fc1579d9,2016-04-03,329.53,86.79,28.88,NaN,NaN,NaN,91.17,83.59,...,NaN,2.54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2bc16eda651db5936cd31e735c815296fc1579d9,2016-04-04,7687.18,87.71,29.31,NaN,NaN,NaN,84.59,84.12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,108.06,5.16
3,2bc16eda651db5936cd31e735c815296fc1579d9,2016-04-05,9031.89,86.78,29.06,NaN,NaN,NaN,104.68,97.20,...,NaN,3.04,2.02,1754.56,299.16,NaN,NaN,NaN,109.84,5.44
4,2bc16eda651db5936cd31e735c815296fc1579d9,2016-04-06,15331.70,87.12,28.88,NaN,NaN,NaN,86.86,79.06,...,NaN,3.51,2.02,1863.34,170.96,NaN,NaN,NaN,113.26,5.66
5,2bc16eda651db5936cd31e735c815296fc1579d9,2016-04-07,5222.45,86.45,29.05,NaN,NaN,NaN,81.64,78.57,...,NaN,1.92,NaN,NaN,NaN,NaN,NaN,NaN,107.88,5.13
6,2bc16eda651db5936cd31e735c815296fc1579d9,2016-04-08,8577.87,86.95,29.03,NaN,NaN,NaN,72.10,53.40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,95.85,4.38
7,2bc16eda651db5936cd31e735c815296fc1579d9,2016-04-09,11628.31,85.39,28.58,NaN,NaN,NaN,105.07,103.09,...,NaN,1.31,2.01,2231.43,234.77,NaN,NaN,NaN,106.75,5.64
8,2bc16eda651db5936cd31e735c815296fc1579d9,2016-04-10,10400.63,NaN,NaN,NaN,NaN,NaN,87.30,87.50,...,NaN,3.66,2.01,1800.07,276.09,NaN,NaN,NaN,108.77,5.40
9,2bc16eda651db5936cd31e735c815296fc1579d9,2016-04-11,6579.83,85.94,28.94,106.72,NaN,NaN,82.79,70.53,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,103.00,4.79
10,2bc16eda651db5936cd31e735c815296fc1579d9,2016-04-11,6579.83,85.94,28.94,118.10,NaN,NaN,82.79,70.53,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,103.00,4.79
11,2bc16eda651db5936cd31e735c815296fc1579d9,2016-04-12,7775.70,86.17,28.73,NaN,6.60,2.01,81.19,71.50,...,NaN,3.78,NaN,NaN,NaN,NaN,NaN,NaN,102.56,4.73
12,2bc16eda651db5936cd31e735c815296fc1579d9,2016-04-12,7775.70,86.17,28.73,NaN,6.60,2.01,81.19,71.50,...,NaN,3.78,NaN,NaN,NaN,NaN,NaN,NaN,102.56,4.73
13,2bc16eda651db5936cd31e735c815296fc1579d9,2016-04-12,7775.70,86.17,28.73,NaN,6.60,2.02,81.19,71.50,...,NaN,3.78,NaN,NaN,NaN,NaN,NaN,NaN,102.56,4.73
14,2bc16eda651db5936cd31e735c815296fc1579d9,2016-04-12,7775.70,86.17,28.73,NaN,6.60,2.01,81.19,71.50,...,NaN,3.78,NaN,NaN,NaN,NaN,NaN,NaN,102.56,4.73
15,2bc16eda651db5936cd31e735c815296fc1579d9,2016-04-12,7775.70,86.17,28.73,NaN,6.71,2.01,81.19,71.50,...,NaN,3.78,NaN,NaN,NaN,NaN,NaN,NaN,102.56,4.73
16,2bc16eda651db5936cd31e735c815296fc1579d9,2016-04-12,7775.70,86.17,28.73,NaN,6.71,2.01,81.19,71.50,...,NaN,3.78,NaN,NaN,NaN,NaN,NaN,NaN,102.56,4.73
17,2bc16eda651db5936cd31e735c815296fc1579d9,2016-04-12,7775.70,86.17,28.73,NaN,6.71,2.02,81.19,71.50,...,NaN,3.78,NaN,NaN,NaN,NaN,NaN,NaN,102.56,4.73
18,2bc16eda651db5936cd31e735c815296fc1579d9,2016-04-12,7775.70,86.17,28.73,NaN,6.71,2.01,81.19,71.50,...,NaN,3.78,NaN,NaN,NaN,NaN,NaN,NaN,102.56,4.73
19,2bc16eda651db5936cd31e735c815296fc1579d9,2016-04-12,7775.70,86.17,28.73,NaN,6.70,2.01,81.19,71.50,...,NaN,3.78,NaN,NaN,NaN,NaN,NaN,NaN,102.56,4.73
20,2bc16eda651db5936cd31e735c815296fc1579d9,2016-04-12,7775.70,86.17,28.73,NaN,6.70,2.01,81.19,71.50,...,NaN,3.78,NaN,NaN,NaN,NaN,NaN,NaN,102.56,4.73
21,2bc16eda651db5936cd31e735c815296fc1579d9,2016-04-12,7775.70,86.17,28.73,NaN,6.70,2.02,81.19,71.50,...,NaN,3.78,NaN,NaN,NaN,NaN,NaN,NaN,102.56,4.73
22,2bc16eda651db5936cd31e735c815296fc1579d9,2016-04-12,7775.70,86.17,28.73,NaN,6.70,2.01,81.19,71.50,...,NaN,3.78,NaN,NaN,NaN,NaN,NaN,NaN,102.56,4.73
23,2bc16eda651db5936cd31e735c815296fc1579d9,2016-04-12,7775.70,86.17,28.73,NaN,6.59,2.01,81.19,71.50,...,NaN,3.78,NaN,NaN,NaN,NaN,NaN,NaN,102.56,4.73
24,2bc16eda651db5936cd31e735c815296fc1579d9,2016-04-12,7775.70,86.17,28.73,NaN,6.59,2.01,81.19,71.50,...,NaN,3.78,NaN,NaN,NaN,NaN,NaN,NaN,102.56,4.73
25,2bc16eda651db5936cd31e735c815296fc1579d9,2016-04-12,7775.70,86.17,28.73,NaN,6.59,2.02,81.19,71.50,...,NaN,3.78,NaN,NaN,NaN,NaN,NaN,NaN,102.56,4.73
26,2bc16eda651db5936cd31e735c815296fc1579d9,2016-04-12,7775.70,86.17,28.73,NaN,6.59,2.01,81.19,71.50,...,NaN,3.78,NaN,NaN,NaN,NaN,NaN,NaN,102.56,4.73
27,2bc16eda651db5936cd31e735c815296fc1579d9,2016-04-13,11437.39,85.49,28.70,NaN,6.70,2.01,87.09,80.57,...,NaN,1.64,NaN,NaN,NaN,NaN,NaN,NaN,106.85,5.15
28,2bc16eda651db5936cd31e735c815296fc1579d9,2016-04-13,11437.39,85.49,28.70,NaN,6.70,2.01,87.09,80.57,...,NaN,1.64,NaN,NaN,NaN,NaN,NaN,NaN,106.85,5.15
29,2bc16eda651db5936cd31e735c815296fc1579d9,2016-04-13,11437.39,85.49,28.70,NaN,6.70,2.01,87.09,80.57,...,NaN,1.64,NaN,NaN,NaN,NaN,NaN,NaN,106.85,5.15
30,2bc16eda651db5936cd31e735c815296fc1579d9,2016-04-13,11437.39,85.49,28.70,NaN,6.86,2.01,87.09,80.57,...,NaN,1.64,NaN,NaN,NaN,NaN,NaN,NaN,106.85,5.15
31,2bc16eda651db5936cd31e735c815296fc1579d9,2016-04-13,11437.39,85.49,28.70,NaN,6.86,2.01,87.09,80.57,...,NaN,1.64,NaN,NaN,NaN,NaN,NaN,NaN,106.85,5.15
32,2bc16eda651db5936cd31e735c815296fc1579d9,2016-04-13,11437.39,85.49,28.70,NaN,6.86,2.01,87.09,80.57,...,NaN,1.64,NaN,NaN,NaN,NaN,NaN,NaN,106.85,5.15
33,2bc16eda651db5936cd31e735c815296fc1579d9,2016-04-13,11437.39,85.49,28.70,NaN,6.84,2.01,87.09,80.57,...,NaN,1.64,NaN,NaN,NaN,NaN,NaN,NaN,106.85,5.15
34,2bc16eda651db5936cd31e735c815296fc1579d9,2016-04-13,11437.39,85.49,28.70,NaN,6.84,2.01,87.09,80.57,...,NaN,1.64,NaN,NaN,NaN,NaN,NaN,NaN,106.85,5.15
35,2bc16eda651db5936cd31e735c815296fc1579d9,2016-04-13,11437.39,85.49,28.70,NaN,6.84,2.01,87.09,80.57,...,NaN,1.64,NaN,NaN,NaN,NaN,NaN,NaN,106.85,5.15
36,2bc16eda651db5936cd31e735c815296fc1579d9,2016-04-14,6772.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.93,NaN,NaN,NaN,NaN,NaN,NaN,106.20,4.95
37,2bc16eda651db5936cd31e735c815296fc1579d9,2016-04-15,7891.37,85.09,28.32,NaN,6.27,2.01,74.34,56.35,...,NaN,1.18,NaN,NaN,NaN,NaN,NaN,NaN,98.34,4.48
38,2bc16eda651db5936cd31e735c815296fc1579d9,2016-04-15,7891.37,85.09,28.32,NaN,6.27,2.01,74.34,56.35,...,NaN,1.18,NaN,NaN,NaN,NaN,NaN,NaN,98.34,4.48
39,2bc16eda651db5936cd31e735c815296fc1579d9,2016-04-15,7891.37,85.09,28.32,NaN,6.27,2.01,74.34,56.35,...,NaN,1.18,NaN,NaN,NaN,NaN,NaN,NaN,98.34,4.48
40,2bc16eda651db5936cd31e735c815296fc1579d9,2016-04-15,7891.37,85.09,28.32,NaN,6.27,2.01,74.34,56.35,...,NaN,1.18,NaN,NaN,NaN,NaN,NaN,NaN,98.34,4.48
41,2bc16eda651db5936cd31e735c815296fc1579d9,2016-04-15,7891.37,85.09,28.32,NaN,6.27,2.01,74.34,56.35,...,NaN,1.18,NaN,NaN,NaN,NaN,NaN,NaN,98.34,4.48
42,2bc16eda651db5936cd31e735c815296fc1579d9,2016-04-15,7891.37,85.09,28.32,NaN,7.89,2.01,74.34,56.35,...,NaN,1.18,NaN,NaN,NaN,NaN,NaN,NaN,98.34,4.48
43,2bc16eda651db5936cd31e735c815296fc1579d9,2016-04-15,7891.37,85.09,28.32,NaN,7.89,2.01,74.34,56.35,...,NaN,1.18,NaN,NaN,NaN,NaN,NaN,NaN,98.34,4.48
44,2bc16eda651db5936cd31e735c815296fc1579d9,2016-04-15,7891.37,85.09,28.32,NaN,7.89,2.01,74.34,56.35,...,NaN,1.18,NaN,NaN,NaN,NaN,NaN,NaN,98.34,4.48
45,2bc16eda651db5936cd31e735c815296fc1579d9,2016-04-15,7891.37,85.09,28.32,NaN,7.89,2.01,74.34,56.35,...,NaN,1.18,NaN,NaN,NaN,NaN,NaN,NaN,98.34,4.48
46,2bc16eda651db5936cd31e735c815296fc1579d9,2016-04-15,7891.37,85.09,28.32,NaN,7.89,2.01,74.34,56.35,...,NaN,1.18,NaN,NaN,NaN,NaN,NaN,NaN,98.34,4.48
47,2bc16eda651db5936cd31e735c815296fc1579d9,2016-04-15,7891.37,85.09,28.32,NaN,6.91,2.01,74.34,56.35,...,NaN,1.18,NaN,NaN,NaN,NaN,NaN,NaN,98.34,4.48
48,2bc16eda651db5936cd31e735c815296fc1579d9,2016-04-15,7891.37,85.09,28.32,NaN,6.91,2.01,74.34,56.35,...,NaN,1.18,NaN,NaN,NaN,NaN,NaN,NaN,98.34,4.48
49,2bc16eda651db5936cd31e735c815296fc1579d9,2016-04-15,7891.37,85.09,28.32,NaN,6.91,2.01,74.34,56.35,...,NaN,1.18,NaN,NaN,NaN,NaN,NaN,NaN,98.34,4.48